flat-button(_type)
  _color = flat-getcolor(_type)
  background _color
  border none
  border-radius flat-border-radius
  color white
  display inline-block
  font inherit
  font-size remify(16)
  outline none
  padding rhythm(1, 16) rhythm(4, 16)
  transition background-color .3s linear
  if type isnt 'disabled'
    cursor pointer
    &:hover
      background lighten(_color, 20%)
    &:active
      background darken(_color, 25%)
