flat-getcolor(_type)
  if _type is 'info'
    return flat-info
  else if _type is 'danger'
    return flat-danger
  else if _type is 'warning'
    return flat-warning
  else if _type is 'success'
    return flat-success
  else if _type is 'primary'
    return flat-primary
  else if _type is 'disabled'
    return flat-disabled
  else
    return flat-default

